[Desktop Entry]
Comment=AntInstaller Docs
Path=@installDir@
Icon=@installDir@/kde-icons/AntInstaller.png
Exec=kfmclient exec '@installDir@/web/index.html'
Name=AntInstaller Docs
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Encoding=UTF-8
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Development;Java